.footer {
  background-color: #000000;
  color: white;
  padding: 0.6rem 1rem;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footerText{
    font-size: 18px;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-section h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: bold;
  border: 2px solid;
  border-image: radial-gradient(circle,rgb(40, 3, 250) 7%, rgba(0, 62, 186, 1) 35%, rgba(2, 0, 36, 1) 100%) 1 0;
  width: 10rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer-section p {
  margin: 0.5rem 0;
}

.social-icons a {
  margin-right: 10px;
  font-size: 1.2rem;
  color: white;
}

.social-icons a:hover {
  color: #2049ff;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
