body{
    margin: 0px;
    padding: 0px;
}

.logoImage{
    width: 80px;
    position: fixed; 
    left: 2rem;
}

.navbar{
    /* margin-top: 0.5%; */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(9px);
    padding: 1rem ;
    position: fixed;
    width: 100%;
    left: 50%;
    height: 40px;
    z-index: 1000;
    transform: translateX(-50%);
    /* top: 1rem; */
    /* border-radius: 30px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 45px;
}

.toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{ 
    background-color: #2049ff;
    position: fixed;
    top: 13px; right: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 28px;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition-duration: 0.65s;
}

.action_btn:hover{
    background-color: #005dc7;
    transform: scale(1.07);
    transition-duration: 0.65s;
    box-shadow: rgba(6, 89, 243, 0.56) 0px 11px 35px 2px;
}

li{
    list-style-type: none;
}

.choice{
    position: relative;
}

.choice::after, .choice::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0878f8, #7ec5ff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.choice::after{
    bottom: -5px;
}

.choice::before{
    top: -5px;
    transform-origin: left;
}

.choice:hover::after, 
.choice:hover::before,
.choice.active::after, 
.choice.active::before {
    transform: scaleX(1);
}

.a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font: 1.45rem "Fira Sans", sans-serif;
    font-weight: normal;
    cursor: pointer;
    transition-duration: 0.35s;
}

.options :hover{
    color: orangered;
    font-weight: bolder;
}

/* Dropdown menu */
.dropdown_menu{
    position: fixed;
    z-index: 2000;
    right: 0.5rem;
    top: 60px;
    height: 0;
    width: 230px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    overflow: hidden;
    color: white;
    display: none;
    transition: height 0.2s cubic-bezier(0.075, 0.825, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open{
    height: 340px;
}

.action_btn2{
    background-color: #2088ff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 28px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.35s;
}

.action_btn2:hover{
    background-color: #005dc7;
    transition-duration: 0.35s;
}


/* Responsiveness of the code */
@media (max-width: 1120px){
    .links,
    .action_btn{
        display: none;
    }

    .toggle_btn{
        display: block;
        justify-content: right;
        position: fixed;
        top: 20px; right: 2rem;
    }

    .dropdown_menu{
        display: block;
    }
}